* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", serif;
  background-color: #e9edf1;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #dbe1e8;
  padding: 2.5rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: #dbe1e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0460bc;
}

ul {
  display: flex;
  column-gap: 3.6rem;
}

ul li {
  list-style-type: none;
  font-size: 1.8rem;
}

ul li a:hover {
  color: #0460bc;
}

.active {
  font-weight: bold;
}

.cta {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  padding: 0.7rem 1.1rem;
  background-color: #c3ccd7;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}

.cta:hover {
  background-color: #b5c0ce;
}
